/*
colors used:
pink: #D88A93
cream: #FFF4F2
black (text): #010015
*/
* {
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 15px;
}

body {
  background-image: url(../img/background-image.png);
  background-color: #ffffff;
  background-size: cover;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #010015;
}
h1, h2, h3, h4  {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #D88A93;
  font-size: 20px;
}

ul {
  list-style-image: url(../img/pink-square.png);
  list-style-position: outside;
  padding: 0 15px;
}

ul > li {
  padding-left: 10px;
  margin: 0 20px;
}

ul > li > a {
  padding: 0 5px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 5px;
  text-decoration: none;
  color: #010015;
  font-family: 'Josefin Sans';
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

nav > ul > li > a:visited {
  color: #010015;
}

nav > ul > li > a:hover {
  color: #A83845;
}

nav > ul > li > a:active {
 color: #A83845;
 font-weight: 700;
}

.button {
  display: inline-block;
  background-color: #D88A93;
  color: #FFF4F2;
  text-decoration: none;
  font-family: 'Josefin Sans';
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .075rem;
  padding: 6px 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: 0.2s;
  transition-property: background-color;
}

.button:hover,
.button:focus {
  background-color: #A83845;
  color: #FFF4F2;
}

.button:active {
  opacity: 0.5;
}

/* Layout Styling*/

.container {
  padding: 0 15px;
}

.center {
  text-align: center;
}

.icons {
  padding-top: 175px;
  padding-bottom: 10px;
  text-align: center;
}

.icons svg {
  height: 30px;
  width: 30
  px;
}

.logo {
  max-width: 250px;
}

.img {
  margin: 20px 0;
  border-radius: 6px;
}

.cover {
  opacity: 0.8;
  margin: 20px 0;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.cover:hover {
  opacity: 1;
  margin: 20px 0;
  border-radius: 6px;
}

.animation {
  width: 100%;
  max-width: 100%:
  height: auto:
}

.shadow {
  box-shadow: 1px 1px 10px 5px rgba(168, 56, 69, 0.1);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero {
  padding-top: 50px;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  font-size: 2em;
}

#hero h2 {
  font-size: 1.75em;
  font-weight: 300;
  padding-top: 20px;
}

#projects {
  padding-top: 50px;
}

#projects .column {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
}

#projects .row {
  padding-bottom: 75px;
}

#projects h3 {
  padding-top: 40px;
  padding-bottom: 0;
}

#projects h4 {
  padding-top: 20px;
  margin: 0;
}

#projects p {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

#contact {
  text-align: left;
  margin: 15px;
  padding-top: 75px;
}

#contact h3 {
  font-size: 1.75em;
  font-weight: 600;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 15px;
}

#contact h4 {
  font-size: 1.15em;
  font-weight: 400;
  margin: 0;
  padding: 5px 0;
}

#contact p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

#contact ul {
  margin: 0;
  padding: 0;
}

#contact ul > li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

#casestudy {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

#casestudy h1 {
  font-size: 1.8em;
  padding-top: 40px;
}

#casestudy h2 {
  font-size: 1.5em;
}

#about h2 {
  padding-top: 30px;
}

#about h3 {
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.5;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

[class*="col-"] {
float: left;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 30px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    padding-left: 10px;
  }

  body {
    padding: 0 30px;
  }

  #hero {
    padding-top: 70px;
  }

  #projects h3 {
    margin: 0;
  }

  #about h1 {
    font-size: 2em;
    padding-top: 70px;
  }

  #about h3 {
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.5;
  }

  .img {
    border-radius: 7px;
  }

  .logo {
    width: 20%;
  }

  .button {
    font-size: 14px;
  }

  .top-column {
    margin-top: 30px;
  }

  .col-md-7 {
  width: 60%;
  padding-right: 15px;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 40%;
    padding-left: 15px;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 30px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    padding-left: 15px;
  }

  nav > ul > li > a {
    font-size: 16px;
  }

  body {
    padding: 0 30px;
  }

  #hero {
    padding: 100px 0;
  }

  #hero h1 {
    font-size: 2.5em;
    padding-top: 50px;
  }

  #hero h2 {
    font-weight: 300;
  }

  #projects h3 {
    font-size: 2em;
    padding-bottom: 40px;
  }

  #projects h4 {
    font-size: 1.75em;
  }

  #projects p {
    font-size: 22px;
  }

  #casestudy h1 {
    font-size: 2.25em;
    padding-top: 95px;
    margin: 0;
  }

  #casestudy h2 {
    font-size: 1.75em;
    padding: 20px 0;
  }

  #casestudy p {
    font-size: 22px;
    padding: 5px 0;
  }

  #casestudy .img {
    margin: 75px 0;
    border-radius: 8px;
  }

  #masthead .img {
    margin: 40px 0;
    border-radius: 8px;
  }

  #about {
    padding: 100px 0;
  }

  #about h3 {
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.5;
  }

  #about p {
    font-size: 22px;
    line-height: 1.5;
  }

  #about .button {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .img {
    border-radius: 7px;
  }

  .logo {
    width: 15%;
  }

  .button {
    font-size: 20px;
  }

  .casestudy {
    margin: 40px 55px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

  .fullwidth {
    width: 100%;
  }

  .top-column {
    margin-top: 30px;
  }

  .col-lg-8 {
  width: 70%;
  padding-right: 15px;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 30%;
    padding-left: 15px;
  }

}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
