/*
colors used:
pink: #D88A93
cream: #FFF4F2
black (text): #010015
*/

body {
  background-color: inherit;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #010015;
}
h1, h2, h3, h4  {
  line-height: 1.2;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #D88A93;
  font-size: 20px;
}

.cover {
  opacity: 0.8;
}

.cover:hover {
  opacity: 1;
}

.button {
  display: inline-block;
  background-color: #D88A93;
  color: #FFF4F2;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: .075rem;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  transition: 0.2s;
}

.button:hover,
.button:focus {
  background-color: #A83845;
  color: #FFF4F2;
}

.button:active {
  opacity: 0.5;
}
